[Desktop Entry]
Name=contactsapplet
Name[ca]=contactsapplet
Name[ca@valencia]=contactsapplet
Name[cs]=contactsapplet
Name[da]=contactsapplet
Name[de]=contactsapplet
Name[el]=contactsapplet
Name[en_GB]=contactsapplet
Name[eo]=contactsapplet
Name[es]=contactsapplet
Name[et]=contactsapplet
Name[fi]=contactsapplet
Name[fr]=contactsapplet
Name[ga]=contactsapplet
Name[gl]=contactsapplet
Name[hu]=contactsapplet
Name[it]=contactsapplet
Name[ja]=contactsapplet
Name[km]=contactsapplet
Name[ko]=contactsapplet
Name[lv]=contactsapplet
Name[nb]=contactsapplet
Name[nds]=contactsapplet
Name[nl]=contactsapplet
Name[nn]=contactsapplet
Name[pa]=contactsapplet
Name[pl]=contactsapplet
Name[pt]=contactsapplet
Name[pt_BR]=contactsapplet
Name[ro]=contactsapplet
Name[ru]=contactsapplet
Name[sr]=contactsapplet
Name[sr@ijekavian]=contactsapplet
Name[sr@ijekavianlatin]=contactsapplet
Name[sr@latin]=contactsapplet
Name[sv]=contactsapplet
Name[tr]=contactsapplet
Name[uk]=contactsapplet
Name[x-test]=xxcontactsappletxx
Name[zh_CN]=contactsapplet
Name[zh_TW]=contactsapplet
Comment=Plasma contactsapplet
Comment[ca]=Plasma contactsapplet
Comment[ca@valencia]=Plasma contactsapplet
Comment[cs]=Plasma contactsapplet
Comment[da]=Plasma contactsapplet
Comment[de]=Plasma contactsapplet
Comment[el]=Plasma contactsapplet
Comment[en_GB]=Plasma contactsapplet
Comment[eo]=Plasma contactsapplet
Comment[es]=Plasma contactsapplet
Comment[et]=Plasma contactsapplet
Comment[fi]=Plasma contactsapplet
Comment[fr]=Plasma contactsapplet
Comment[ga]=Plasma contactsapplet
Comment[gl]=Plasma contactsapplet
Comment[hu]=Plasma contactsapplet
Comment[it]=Plasma contactsapplet
Comment[ja]=Plasma contactsapplet
Comment[km]=ប្លាស្មា contactsapplet
Comment[ko]=Plasma contactsapplet
Comment[lv]=Plasma contactsapplet
Comment[nb]=Plasma contactsapplet
Comment[nds]=Plasma contactsapplet
Comment[nl]=Plasma contactsapplet
Comment[nn]=Plasma contactsapplet
Comment[pa]=ਪਲਾਜ਼ਮਾ contactsapplet
Comment[pl]=Plasma contactsapplet
Comment[pt]=Plasma contactsapplet
Comment[pt_BR]=Plasma contactsapplet
Comment[ro]=Plasma contactsapplet
Comment[ru]=Plasma contactsapplet
Comment[sr]=Плазмин contactsapplet
Comment[sr@ijekavian]=Плазмин contactsapplet
Comment[sr@ijekavianlatin]=Plasmin contactsapplet
Comment[sr@latin]=Plasmin contactsapplet
Comment[sv]=Plasma contactsapplet
Comment[tr]=Plasma contactsapplet
Comment[uk]=Плазма contactsapplet
Comment[x-test]=xxPlasma contactsappletxx
Comment[zh_CN]=Plasma contactsapplet
Comment[zh_TW]=Plasma contactsapplet
Type=Service

X-KDE-ServiceTypes=Plasma/Applet
X-KDE-Library=plasma_applet_contactsapplet
X-KDE-PluginInfo-Author=Luiz Romário Santana Rios
X-KDE-PluginInfo-Email=luizromario@gmail.com
X-KDE-PluginInfo-Name=contactsapplet
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

